#nickname-input-text {
  text-align: left;
  display: inline-block;
  margin: 10px 10px
}

#nickname-input-submit {
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0px 10px;
}

#nickname-input-submit:hover{
  background: #bbbbbb;
}
